<!DOCTYPE>
<html lang="en">
  <head>
    {{>head}}
    <title>Test Title Please Ignore</title>
  </head>
  <h1>swiggity swooty reduce that URL's booty</h1>
  <body>

  {{>bsnavbars}}
  <div class="container">
  {{{body}}}

  </div>

  </body>
</html>
