

<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>IYWFWIWFYBFD!</title>
    <!-- if you were from where I was from you'd be flippin dead -->
  </head>
  <body>
    <!--John Brown's-->
    <h2>A table</h2>
    <ul>
    <% for (var shortKey in urls) { %>
        <li><%= shortKey %> <%= urls[shortKey] %></li>
    <% } %>
    </ul>
  <a href="something" something/a>
  </body>
</html>
